<div class="container" id="forumthread">
  <h1 class="studorm-text text-center">Nieuwe post</h1>
  <div class="my-3 card">
    <div class="card-header">
      <input id="title" class="form-control form-control-lg" type="text" [(ngModel)]="title" placeholder="Je titel">
    </div>
    <div class="card-body">
      <textarea class="form-control" id="content" rows="3" [(ngModel)]="content" placeholder="Je bericht"></textarea>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <button class="btn studorm-button studorm-clr-accent mx-1" routerLink="../../">Annuleer</button>
        <button class="btn studorm-button studorm-clr-dark mx-1" (click)="submitNewThread()">Verstuur</button>
      </div>
    </div>
  </div>
</div>
