<div class="container">
  <h1>Nieuw draadje</h1>
  <div class="my-3 card">
    <div class="card-header">
      <input id="title" class="form-control form-control-lg" type="text" [(ngModel)]="title" placeholder="Je titel">
    </div>
    <div class="card-body">
      <textarea class="form-control" id="content" rows="3" [(ngModel)]="content" placeholder="Je bericht"></textarea>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <button class="btn btn-danger mx-1" routerLink="../../">Annuleer</button>
        <button class="btn btn-dark mx-1" (click)="submitNewThread()">Verstuur</button>
      </div>
    </div>
  </div>
</div>
