<div id="infotext">
    <h1>{{title_kitchen}}</h1>
    <p>Welkom in de keuken! In de keuken kun je snuffelen door het receptenboek en nieuwe recepten toevoegen. Vergeet geen review achter te laten als je het recept gemaakt hebt.</p>
    
</div>

<div id="recipebook">
    <h1>{{title}}</h1>
    <p>Druk op een recept om hem te openen. Veel plezier met koken!</p>
    <ul class="recipes">
        <li *ngFor="let recipe of recipes" routerLink="./{{recipe.id}}">
            <span class="badge">{{recipe.naam}} </span>
        </li>
    </ul>
    <button routerLink="./nieuw">Nieuw recept toevoegen</button>
</div>


