<header>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="./home">
        <img src="../../assets/images/logo.svg">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">StuDorm</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="./keuken">Keuken</a>
                    <a class="dropdown-item" routerLink="./woonkamer">Woonkamer</a>
                    <a class="dropdown-item" routerLink="./studiekamer/prikbord">Studiekamer</a>
                </div>
            </li>
        </ul>

    </div>
  </nav>

  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/man1.jpg" alt="Random first slide" class="w-100 h-100">
      </div>
      <div class="carousel-caption">
        <img src="../../assets/images/slogan.svg" id=slogan alt="logo with slogan" class="w-100 h-100">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/man2.jpg" alt="Random second slide" class="w-100 h-100">
      </div>
      <div class="carousel-caption">
        <img src="../../assets/images/slogan.svg" id=slogan alt="logo with slogan" class="w-100 h-100">
      </div>
    </ng-template>
  </ngb-carousel>
</header>
