


<header>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="./plattegrond">
        <img src="../../assets/images/logo.svg">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">StuDorm</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="./keuken">Keuken</a>
                    <a class="dropdown-item" routerLink="./woonkamer">Woonkamer</a>
                    <a class="dropdown-item" routerLink="./studiekamer/prikbord">Studiekamer</a>
                </div>
            </li>
        </ul>

    </div>
  </nav>

    <div class="bg-image"><img src="../../assets/images/1234.jpg" id="bgimage">
        <div class="mask" id="maskstyle">
            <div class="d-flex justify-content-center align-items-center h-100">
                <img src="../../assets/images/slogan.svg" id=slogan alt="logo with slogan">
            </div>
        </div>
    </div>

    <!-- <div class="p-5 text-center bg-image" style="background-image: url('../../assets/images/1234.jpg');">
            <div class="mask" style="background-color: rgba(56, 56, 59, 0.7);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="image"> <img src="../../assets/images/slogan.svg"  height="100" alt="logo with slogan"></div>
                </div>
            </div>
        </div> -->

</header>
