@font-face {
    font-family: myFirstFont;
    src: url(../../assets/fonts/typographica_demo-webfont.woff);
  }

nav{
    background-color: #ffcc00;
    height: 65px;
}

img{
    height: 50px;
}

.nav-link{
    color: #565659;
    font-family: myFirstFont;
}

.nav-link:hover{
    background-color: #ff9811;
    color: #565659;
    border-radius: 8px;
}

.dropdown-item{
    color: #565659;
    font-family: myFirstFont;
}

.dropdown-item:hover{
    background-color: #ff9811;
    color: #565659;

}