@font-face {
    font-family: myFirstFont;
    src: url(../../assets/fonts/typographica_demo-webfont.woff);
  }

footer {
    text-align: center;
    background-color: #565659;
    color:white;
    font-family: myFirstFont;
}


