<app-header></app-header>
<div class="studorm-text text-justify studorm-card studorm-card-clr-secondary">
  <h1 class="text-center">Woonkamer</h1>
  <p>Welkom in de woonkamer!</p>
  <p>Start een leuk gesprek in de chat of speel een spelletje uit de spelletjeskast.</p>
</div>

<div class="studorm-text studorm-card studorm-card-clr-primary">
  <h1 class="text-center">Spelletjeskast</h1>
  <ul>
    <li *ngFor="let game of games">
      <a routerLink="./{{game.name | lowercase}}">{{game.name}}</a>
    </li>
  </ul>
</div>

<div class=" studorm-card studorm-card-clr-secondary">
  <h1 class="studorm-text text-center">Chat</h1>
  <chatroom></chatroom>
</div>
