<form [formGroup]="recipeFormGroup" (ngSubmit)="onSubmit()">
    <h1>{{title}}</h1>
    <div>
        <label>Recept:<input type="text" formControlName="naam"></label>
    </div>
    <div>
        <label>Bereidingstijd (in min.):<input type="number" formControlName="bereidingstijd"></label>
    </div>
    <div>
        <label>Aantal personen:<input type="number" formControlName="personen"></label>
    </div>
    <div>
        <label for="ingredienten">Ingrediënten:</label>
        <textarea id="ingredienten" input type="text" formControlName="ingredienten"rows="1" cols="40"></textarea>
    </div>
    <div>
        <label for="bereidingswijze">Bereidingswijze (in stappen):</label>
        <textarea id="bereidingswijze" input type="text" formControlName="bereidingswijze" rows="6" cols="40"></textarea>
    </div>

    <button class="button" type="submit">Toevoegen</button>
    <button class="button" routerLink="../">Terug</button>

</form>




