.boxed {
  border: 1px solid black;
  padding: 5px;
  margin-top: 5px;
  width: 70%;
  margin-left: 25px;
}

.inputField {
  padding: 5px;
}

.inputField input{
  margin-left: 2%;
}

.inputField #content{
  margin-top: 10px;
  width: 75%;
  height: 150px;
}

button{
  padding: 10px;
  margin-left: 25px;
  margin-bottom: 20px;
}