<div class="card">
  <h3 class="card-header">Nieuwe reactie</h3>
  <div class="card-body">
    <div class="form-group">
      <label for="author">Naam:</label>
      <input type="text" id="author" class="form-control-plaintext" readonly [value]="postInfo.author">
    </div>
    <div class="form-group">
      <label for="content">Jouw reactie:</label>
      <textarea class="form-control" id="content" rows="3" [(ngModel)]="postInfo.content"></textarea>
    </div>

    <div class="form-group">
    </div>
  </div>
  <div class="card-footer">
    <div class="float-right">
      <button class="btn btn-dark" (click)="onSendClick()">Verstuur</button>
    </div>
  </div>
</div>
