<div class="card">
  <h3 class="card-header studorm-text">Nieuwe reactie</h3>
  <div class="card-body">
    <div class="form-group">
      <label for="content">Jouw reactie:</label>
      <textarea class="form-control" id="content" rows="3" [(ngModel)]="postInfo.content"></textarea>
    </div>

    <div class="form-group">
    </div>
  </div>
  <div class="card-footer">
    <div class="float-right">
      <button class="btn studorm-button studorm-clr-dark" (click)="onSendClick()">Verstuur</button>
    </div>
  </div>
</div>
