li {
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: 7.5px;
  padding: 5px;
  height: auto;
  border-radius: 4px;
  width: auto;
  list-style: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

.threadContainer{
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.thumbsIcons{
  height: 1%;
  width: 1%;
}

#thread{
    background-color: #ff9811;
    padding: 20px 20px 20px 20px;
    margin: auto;
    width: 70%;
    border-radius: 8px;
    margin-top: 30px;
}