a {
  cursor: pointer;
}

rect {
  opacity: 0;
}

svg {
  width: 100%;
  max-width: 1000px;
}

text {
  font-size: 30px;
  fill: F565659; /* Text color */
  filter: drop-shadow( 3px 3px 3px rgba(0, 0, 0, .4));
  font-family: myFirstFont;
}


@media screen and (max-width: 992px) {
    text {
        font-size: 40px;
        fill: F565659; /* Text color */

        font-family: myFirstFont;
    }
}