#infotext {
    background-color: #ff9811;
    padding: 8px;
    margin: auto;
    width: 30%;
    border-radius: 8px;
    margin-top: 30px;
  }

#plattegrond{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px;
}
  
h1 {
    text-align: center;
    color: #565659;
    font-family: myFirstFont;
    font-size: 30px;
}
  
p {
    text-align: justify;
    letter-spacing: 1px;
    font-family: myFirstFont;
    color: #565659;
}
  
@media screen and (max-width: 992px) {
    #infotext {
        margin: auto;
        width: 80%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 992px) {
    #plattegrond {
        margin: auto;
        width: 100%;
        margin-top: 30px;
    }
}