@font-face {
  font-family: myFirstFont;
  src: url(/assets/fonts/typographica_demo-webfont.woff);
}

:root {
  --studorm-font: myFirstFont, sans-serif;
  /* StuDorm kleuren */
  --studorm-clr-primary: #ffcc00;
  --studorm-clr-primary-text: #565659;
  --studorm-clr-secondary: #ff9811;
  --studorm-clr-secondary-text: #ffffff;
  --studorm-clr-dark: #565659;
  --studorm-clr-dark-text: #ffffff;
}

/**** Global styles that can (should) be used on every page ****/
/* Yours truly, Marijn */

/** Buttons **/

.studorm-text {
  font-family: var(--studorm-font);
  color: var(--studorm-clr-dark);
  letter-spacing: 1px;
}

.studorm-text-clr-primary {
  color: var(--studorm-clr-primary);
}

.studorm-text-clr-secondary {
  color: var(--studorm-clr-secondary);
}

.studorm-button {
  border-radius: 8px;
  font-family: var(--studorm-font);
  font-size: 20px;
}

.studorm-clr-primary {
  background-color: var(--studorm-clr-primary);
  border-color: var(--studorm-clr-primary);
  color: var(--studorm-clr-primary-text);
}

.studorm-clr-primary:hover {
  background-color: var(--studorm-clr-secondary);
  border-color: var(--studorm-clr-secondary);
  color: var(--studorm-clr-secondary-text)
}

.studorm-clr-accent {
  background-color: var(--studorm-clr-secondary);
  border-color: var(--studorm-clr-secondary);
  color: var(--studorm-clr-secondary-text);
}

.studorm-clr-accent:hover {
  background-color: var(--studorm-clr-primary);
  border-color: var(--studorm-clr-primary);
  color: var(--studorm-clr-primary-text);
}

.studorm-clr-dark {
  background-color: var(--studorm-clr-dark);
  border: var(--studorm-clr-dark);
  color: var(--studorm-clr-dark-text);
}

.studorm-clr-dark:hover {
  background-color: var(--studorm-clr-primary);
  border: var(--studorm-clr-primary);
  color: var(--studorm-clr-dark);
}

.studorm-clr-dark-alt-hover:hover {
  background-color: var(--studorm-clr-secondary);
  border: var(--studorm-clr-secondary);
  color: var(--studorm-clr-dark);
}

/** Input fields **/

.select-glow:focus {
  border-color: var(--studorm-clr-primary);
  box-shadow: 0 0 10px var(--studorm-clr-primary);
}

/** rooms **/

.studorm-card {
  padding: 8px;
  border-radius: 8px;
  margin: 30px auto auto;
  width: 30%;
  min-width: 300px;
}

.studorm-card-clr-primary {
  background-color: var(--studorm-clr-primary);
}

.studorm-card-clr-secondary {
  background-color: var(--studorm-clr-secondary);
}

.studorm-card-clr-dark {
  background-color: var(--studorm-clr-dark);
}
