<header>
    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/images/man1.jpg" alt="Random first slide" class="w-100 h-100">
          </div>
          <div class="carousel-caption">
            <img src="../../assets/images/slogan.svg" id=slogan alt="logo with slogan" class="w-100 h-100">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/images/man2.jpg" alt="Random second slide" class="w-100 h-100">
          </div>
          <div class="carousel-caption">
            <img src="../../assets/images/slogan.svg" id=slogan alt="logo with slogan" class="w-100 h-100">
          </div>
        </ng-template>
      </ngb-carousel>
</header>

<body>
    <app-loginscreen></app-loginscreen>
    <app-register></app-register>
</body>