<div class="studorm-card studorm-card-clr-dark mx-3 p-3">
  <form class="text-center" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <h2 class="studorm-text studorm-text-clr-secondary">Account registreren</h2>

    <input type="text" id="username" formControlName="username" class="form-control mb-4 select-glow"
           placeholder="Gebruikersnaam">
    <input type="email" id="email" formControlName="email" class="form-control mb-4 select-glow" placeholder="E-mail">
    <input type="password" id="password" formControlName="password" class="form-control mb-4 select-glow" placeholder="Wachtwoord">
    <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control mb-4 select-glow"
           placeholder="Bevestig wachtwoord">

    <div class="text-left text-white">
      <h3 class="studorm-text studorm-text-clr-secondary">Gebruikersnaamvereisten:</h3>
      <ul>
        <li>Drie of meer karakters</li>
        <li>Alleen letters, cijfers en liggende streepjes (_)</li>
      </ul>
      <h3 class="studorm-text studorm-text-clr-secondary">Wachtwoordvereisten:</h3>
      <ul>
        <li>8 karakters of meer</li>
      </ul>
    </div>

    <button class="btn studorm-button studorm-card-clr-secondary" type="submit">Registreren</button>

  </form>
</div>
