<form class="text-center" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div id="registerform">
        <p>Account registreren</p>
        
        <input type="username" id="username" formControlName="username" class="form-control mb-4" placeholder="Gebruikersnaam">
        <input type="password" id="password" formControlName="password" class="form-control mb-4" placeholder="Wachtwoord">
        <input type="confirmPassword" id="confirmPassword" formControlName="confirmPassword" class="form-control mb-4" placeholder="Bevestig wachtwoord">
        

        <button  type="submit">Registreren</button>
    </div>
</form>

