#registerform{
    float:right;
    margin-top: 40px;
    background-color: #565659;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
}

p{
    font-family: myFirstFont;
    font-size: 30px;
    color: #FF9811;
}

button{
    border-radius: 8px;
    font-family: myFirstFont;
    font-size: 20px;
    color: #565659;
    background-color: #ffcc00;
}

button:hover{
    background-color: #ff9811;

}

@media screen and (max-width: 992px) {
    #registerform {
      float: inherit;
    }
  }

input:focus { 
    box-shadow: 0 0 10px #ff9811;
}